{% extends "base.html" %}
{% block content %}
{% if article %}
<div class="article">
    <nav class="breadcrumbs">
        <ol class="breadcrumbs__list">
            <li class="breadcrumbs__item">
                <a href="{% url 'home' %}" 
                    class="breadcrumbs__link">
                    Главная
                </a>
            </li>
            <li  class="breadcrumbs__item">
                <a href="{% url 'knowledge:index' %}"
                    class="breadcrumbs__link">
                    База знаний
                </a>
            </li>
            <li class="breadcrumbs__item" aria-current="page">
                Статья
            </li>
        </ol>
    </nav>
    <h1>{{article.title}}<h1>
    <h2>{{article.category.title}}</h2>
</div>
{% endif %}

{% endblock content %}